body{
    background-color: black;
    color: #73F04C;
    font-family: pix;
}
.journalEntry{
    width: 200px;
    /* background-color: blanchedalmond; */
    margin: 10px;
    border: 1px solid white;
    border-radius: 3%;
    padding: 5px 20px;

 
}
#entries{
    /* margin: 10px; */
    border: 1px solid white;
    border-radius: 3%;
    padding: 5px 20px;
    display: flex;  
    flex-wrap:wrap;
 
}
.tenor-gif-embed{
    display: flex;
    justify-content: center;
    width: 75%;
    margin:auto;

}
img{
    width: 75%;
}
input{
    background-color: black;
    color: #72F04C
}
#cars{
    background-color: black;
    color: #72F04C
}

#submitNewQuote{
    
    background-color: black;
    color: #72F04C
}
::placeholder{
    background-color: black;
    color: #72F04C
}
